.company_product {
    background-color: white;
    margin-top: 10px;
    display: flex;
    height: 100%;
 
    .product_list {
        flex: 1;

      margin: 25px 0px;
      overflow: visible;
      .product_list__content {
        margin: 25px 15px;
        .legal_adviser__item {
          position: relative;
          width: 47%;
          float: left;
          margin-bottom: 30px;
          &:nth-child(2n-1) {
            margin: 0 15px 30px 15px;
          }
          .legal_adviser__item__cover__num {
            font-size: 20px;
            position: absolute;
            right: 10px;
            top: 0;
            font-weight: 700;
            z-index: 3;
            display: flex;
            align-items: center;
            color: #fff;
            .at-icon-sound {
              margin-right: 10px;
            }
          }
          .legal_adviser__item__cover {
            display: block;
            width: 100%;
            height: 360px;
            border-radius: 12px;
            box-shadow: 0px 0px 20px #8f8f8f;
          }
          .legal_adviser__item__title {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            word-break: break-all;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            font-size: 26px;
            margin-top: 10px;
          }
          .price_area {
            overflow: hidden;
            display: flex;
            -webkit-box-orient: vertical;
            margin-top: 10px;
            height: 100px;
            width: 100%;
            position: relative;
            .daily {
              color: #ff7e52;
              position: absolute;
              left: 16px;
              line-height: 30px;
              display: flex;
              bottom: 10px;
              align-items: center;
              text-decoration:line-through;

              .daily-prefix {
                flex-shrink: 0;
                font-size: 24px;
                margin-right: 6px;
                line-height: 28px;
              }
    
              .daily-price {
                flex-shrink: 0;
                font-size: 28px;
                line-height: 30px;
                transform: translateY(1px);
              }
            }
            .cheap {
              color: #fa2c19;
              display: flex;
              align-items: baseline;
              position: absolute;
              left: 16px;
              top: 11px;

              .cheap-prefix {
                font-size: 24px;
                margin-right: 6px;
                line-height: 24px;
                font-weight: 500;
                transform: translateY(-4px);
                white-space: nowrap;
              }
    
              .cheap-price {
                font-size: 40px;
                display: flex;
                align-items: baseline;
                transform: translateY(-2.4px);
    
                .icon {
                  flex-shrink: 0;
                  font-size: 28px;
                  line-height: 28px;
                }
    
                .price {
                  flex-shrink: 0;
                  font-size: 40px;
                  line-height: 40px;
                  white-space: nowrap;
                }
              }
            }
            .sell_num{
                position: absolute;
                font-size: 17px;
                bottom: 10px;
                right: 10px;
            }

          }
        }
        .legal_text__item {
          position: relative;
          width: 47%;
          float: left;
          margin-bottom: 30px;
          &:nth-child(2n-1) {
            margin: 0 15px 30px 15px;
          }
          .legal_text__item__cover__num {
            font-size: 20px;
            position: absolute;
            right: 10px;
            top: 0;
            font-weight: 700;
            z-index: 3;
            display: flex;
            align-items: center;
            color: #fff;
            .at-icon-sound {
              margin-right: 10px;
            }
          }
          .legal_text__item__cover {
            display: block;
            width: 100%;
            height: 260px;
            border-radius: 12px;
            box-shadow: 0px 0px 20px #8f8f8f;
          }
          .legal_text__item__title {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 26px;
            margin-top: 10px;
            height: 72px;
          }
          .price_area {
            overflow: hidden;
            display: flex;
            -webkit-box-orient: vertical;
            margin-top: 10px;
            height: 100px;
            width: 100%;
            position: relative;
            .daily {
              color: #ff7e52;
              position: absolute;
              left: 16px;
              line-height: 30px;
              display: flex;
              bottom: 10px;
              align-items: center;
              text-decoration:line-through;

              .daily-prefix {
                flex-shrink: 0;
                font-size: 24px;
                margin-right: 6px;
                line-height: 28px;
              }
    
              .daily-price {
                flex-shrink: 0;
                font-size: 28px;
                line-height: 30px;
                transform: translateY(1px);
              }
            }
            .cheap {
              color: #fa2c19;
              display: flex;
              align-items: baseline;
              position: absolute;
              left: 16px;
              top: 11px;

              .cheap-prefix {
                font-size: 24px;
                margin-right: 6px;
                line-height: 24px;
                font-weight: 500;
                transform: translateY(-4px);
                white-space: nowrap;
              }
    
              .cheap-price {
                font-size: 40px;
                display: flex;
                align-items: baseline;
                transform: translateY(-2.4px);
    
                .icon {
                  flex-shrink: 0;
                  font-size: 28px;
                  line-height: 28px;
                }
    
                .price {
                  flex-shrink: 0;
                  font-size: 40px;
                  line-height: 40px;
                  white-space: nowrap;
                }
              }
            }
            .sell_num{
                position: absolute;
                font-size: 17px;
                bottom: 10px;
                right: 10px;
            }

          }
        }
        .contract_text__item {
          position: relative;
          width: 47%;
          float: left;
          margin-bottom: 30px;
          &:nth-child(2n-1) {
            margin: 0 15px 30px 15px;
          }
          .contract_text__item__cover__num {
            font-size: 20px;
            position: absolute;
            right: 10px;
            top: 0;
            font-weight: 700;
            z-index: 3;
            display: flex;
            align-items: center;
            color: #fff;
            .at-icon-sound {
              margin-right: 10px;
            }
          }
          .contract_text__item__cover {
            display: block;
            width: 100%;
            height: 160px;
            border-radius: 12px;
            box-shadow: 0px 0px 20px #8f8f8f;
          }
          .contract_text__item__title {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 26px;
            margin-top: 10px;
            height: 72px;
          }
          .price_area {
            overflow: hidden;
            display: flex;
            -webkit-box-orient: vertical;
            margin-top: 10px;
            height: 100px;
            width: 100%;
            position: relative;
            .daily {
              color: #ff7e52;
              position: absolute;
              left: 16px;
              line-height: 30px;
              display: flex;
              bottom: 10px;
              align-items: center;
              text-decoration:line-through;

              .daily-prefix {
                flex-shrink: 0;
                font-size: 24px;
                margin-right: 6px;
                line-height: 28px;
              }
    
              .daily-price {
                flex-shrink: 0;
                font-size: 28px;
                line-height: 30px;
                transform: translateY(1px);
              }
            }
            .cheap {
              color: #fa2c19;
              display: flex;
              align-items: baseline;
              position: absolute;
              left: 16px;
              top: 11px;

              .cheap-prefix {
                font-size: 24px;
                margin-right: 6px;
                line-height: 24px;
                font-weight: 500;
                transform: translateY(-4px);
                white-space: nowrap;
              }
    
              .cheap-price {
                font-size: 40px;
                display: flex;
                align-items: baseline;
                transform: translateY(-2.4px);
    
                .icon {
                  flex-shrink: 0;
                  font-size: 28px;
                  line-height: 28px;
                }
    
                .price {
                  flex-shrink: 0;
                  font-size: 40px;
                  line-height: 40px;
                  white-space: nowrap;
                }
              }
            }
            .sell_num{
                position: absolute;
                font-size: 17px;
                bottom: 10px;
                right: 10px;
            }

          }
        }
      }
    }
  }