@import "../../base.scss";
.index_container {
  padding-bottom: 120px;
  &.hasMusicBox {
    padding-bottom: 220px;
  }
  .banner_list {
    height: 375px;
    margin-top: 20px;
  }
  .banner_list__item__img {
    width: 92%;
    height: 375px;
    position: relative;
    left: 4%;
    border-radius: 20px;
  }
  .index_header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 128px;
    background-color: $primary-color;
    box-sizing: border-box;
    .index_header__logo {
      width: 284px;
      height: 50px;
    }
  }
  .company_info {
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

    .company_info_header {
      width: 100%;
      height: 30px;
      margin-top: 25px;
      margin-bottom: 10px;
      position: relative;
      .company_info_icon {
        position: absolute;
        width: 10px;
        height: 30px;
        background-color: orange;
        border-radius: 5px;
        left: 15px;
      }
      .company_info_title {
        position: absolute;
        line-height: 30px;
        align-items: center;
        justify-content: center;
        left: 35px;
      }
    }
    .company_info_data {
      height: 80px;
      margin-top: 25px;
      margin-left: 15px;
      margin-right: 15px;
      display: flex;
      .company_info_data_item {
        flex: 1;
        height: 80px;
        position: relative;
        .item_icon {
          position: absolute;
          width: 60px;
          height: 60px;
          left: 15px;
          top: 10px;
          border-radius: 15px;
          background-color: grey;
        }
        .item_data {
          position: absolute;
          line-height: 30px;
          top: 15px;
          left: 85px;
          font-size: 30px;
        }
        .item_des {
          position: absolute;
          line-height: 30px;
          bottom: 10px;
          left: 85px;
          font-size: 20px;
        }
      }
    }
    .company_info_slogan {
      height: auto;
      margin: 25px 15px;
      display: grid;
      grid-template-columns: repeat(auto-fit, 325px);
      grid-template-rows: repeat(2, 115px);
      grid-row-gap: 15px;
      grid-column-gap: 15px;
      .slogan_item {
        background-color: rgb(227, 232, 227);
        border-radius: 15px;
        position: relative;
        .item_icon {
          position: absolute;
          width: 60px;
          height: 60px;
          left: 15px;
          top: 10px;
          border-radius: 15px;
          background-color: grey;
        }
        .item_data {
          position: absolute;
          line-height: 30px;
          top: 15px;
          left: 85px;
          font-size: 30px;
        }
        .item_des {
          position: absolute;
          top: 50px;
          left: 85px;
          right: 10px;
          font-size: 20px;
          word-break: break-all;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }
    }
  }
  .partner_info {
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    .partner_info_header {
      width: 100%;
      height: 30px;
      margin-top: 25px;
      margin-bottom: 10px;
      position: relative;
      .partner_info_icon {
        position: absolute;
        width: 10px;
        height: 30px;
        background-color: orange;
        border-radius: 5px;
        left: 15px;
      }
      .partner_info_title {
        position: absolute;
        line-height: 30px;
        align-items: center;
        justify-content: center;
        left: 35px;
      }
    }
    .partner_info_data {
      height: 80px;
      margin: 25px 15px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
      grid-column-gap: 15px;
      .partner_info_data_item {
        height: 80px;
        background-color: green;
        position: relative;
        border-radius: 15px;
        .item_icon {
          position: absolute;
          width: 25px;
          height: 25px;
          right: 15px;
          top: 10px;
          background-color: grey;
        }
        .item_data {
          position: absolute;
          top: 0px;
          left: 15px;
          font-size: 33px;
        }
        .item_des {
          position: absolute;
          top: 40px;
          left: 15px;
          font-size: 20px;
        }
      }
    }
    .partner_list {
      height: 75px;
      margin: 25px 15px;
      .partner_list_swiper {
        height: 100%;
        width: 100%;
        .partner_list_item {
          width: 33%;
          height: 100%;
          position: relative;
          .partner_list_item_icon {
            position: absolute;
            width: 36px;
            height: 36px;
            border-radius: 18px;
            left: 15px;
            top: 10px;
            background-color: grey;
          }
          .partner_list_item_title {
            position: absolute;
            line-height: 30px;
            top: 15px;
            left: 56px;
            font-size: 30px;
          }
          .partner_list_item_des {
            position: absolute;
            left: 15px;
            top: 45px;
            font-size: 20px;
          }
        }
      }
    }
    .partner_details {
      display: grid;
      height: 375px;
      margin: 10px 15px 25px 15px;
      grid-template-columns: 48% 48%;
      grid-template-rows: 180px 180px;
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      .partner_details_item1 {
        background-color: #ef342a;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        position: relative;
      }
      .partner_details_item2 {
        background-color: #ef342a;
        position: relative;
      }
      .partner_details_item3 {
        background-color: #ef342a;
        position: relative;
      }
      .partner_details_item_icon {
        position: absolute;
        width: 10px;
        height: 30px;
        background-color: orange;
        border-radius: 5px;
        left: 15px;
        top: 15px;
      }
      .partner_details_item_title {
        position: absolute;
        font-size: 33px;
        left: 35px;
        top: 15px;
      }
      .partner_details_item_slogan {
        position: absolute;
        font-size: 20px;
        top: 65px;
        left: 35px;
      }
      .partner_details_item_join {
        position: absolute;
        display: flex;
        background-color: white;
        border-radius: 20px;
        height: 40px;
        width: 120px;
        font-size: 25px;
        align-items: center;
        justify-content: center;
        left: 25px;
        top: 110px;
      }
    }
  }
  .company_product {
    overflow: visible;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    .product_list {
      margin: 25px 0px;
      overflow: visible;
    

      .legal_adviser__item_buy {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        word-break: break-all;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        font-size: 26px;
        margin-top: 10px;
      }
      .product_list__content {
        margin: 25px 15px;
        .legal_adviser__item {
          position: relative;
          width: 47%;
          float: left;
          margin-bottom: 30px;
          &:nth-child(2n-1) {
            margin: 0 15px 30px 15px;
          }
          .legal_adviser__item__cover__num {
            font-size: 20px;
            position: absolute;
            right: 10px;
            top: 0;
            font-weight: 700;
            z-index: 3;
            display: flex;
            align-items: center;
            color: #fff;
            .at-icon-sound {
              margin-right: 10px;
            }
          }
          .legal_adviser__item__cover {
            display: block;
            width: 100%;
            height: 360px;
            border-radius: 12px;
            box-shadow: 0px 0px 20px #8f8f8f;
          }
          .legal_adviser__item__title {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            word-break: break-all;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            font-size: 26px;
            margin-top: 10px;
          }
          .price_area {
            overflow: hidden;
            display: flex;
            -webkit-box-orient: vertical;
            margin-top: 10px;
            height: 100px;
            width: 100%;
            position: relative;
            .daily {
              color: #ff7e52;
              position: absolute;
              left: 16px;
              line-height: 30px;
              display: flex;
              bottom: 10px;
              align-items: center;
              .daily-prefix {
                flex-shrink: 0;
                font-size: 24px;
                margin-right: 6px;
                line-height: 28px;
              }
    
              .daily-price {
                flex-shrink: 0;
                font-size: 28px;
                line-height: 30px;
                transform: translateY(1px);
              }
            }
            .cheap {
              color: #fa2c19;
              display: flex;
              align-items: baseline;
              position: absolute;
              left: 16px;
              top: 11px;

              .cheap-prefix {
                font-size: 24px;
                margin-right: 6px;
                line-height: 24px;
                font-weight: 500;
                transform: translateY(-4px);
                white-space: nowrap;
              }
    
              .cheap-price {
                font-size: 40px;
                display: flex;
                align-items: baseline;
                transform: translateY(-2.4px);
    
                .icon {
                  flex-shrink: 0;
                  font-size: 28px;
                  line-height: 28px;
                }
    
                .price {
                  flex-shrink: 0;
                  font-size: 40px;
                  line-height: 40px;
                  white-space: nowrap;
                }
              }
            }
            .sell_num{
                position: absolute;
                font-size: 17px;
                bottom: 10px;
                right: 10px;
            }

          }
        }
        .legal_text__item {
          position: relative;
          width: 47%;
          float: left;
          margin-bottom: 30px;
          &:nth-child(2n-1) {
            margin: 0 15px 30px 15px;
          }
          .legal_text__item__cover__num {
            font-size: 20px;
            position: absolute;
            right: 10px;
            top: 0;
            font-weight: 700;
            z-index: 3;
            display: flex;
            align-items: center;
            color: #fff;
            .at-icon-sound {
              margin-right: 10px;
            }
          }
          .legal_text__item__cover {
            display: block;
            width: 100%;
            height: 260px;
            border-radius: 12px;
            box-shadow: 0px 0px 20px #8f8f8f;
          }
          .legal_text__item__title {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 26px;
            margin-top: 10px;
            height: 72px;
          }
        }
        .contract_text__item {
          position: relative;
          width: 47%;
          float: left;
          margin-bottom: 30px;
          &:nth-child(2n-1) {
            margin: 0 15px 30px 15px;
          }
          .contract_text__item__cover__num {
            font-size: 20px;
            position: absolute;
            right: 10px;
            top: 0;
            font-weight: 700;
            z-index: 3;
            display: flex;
            align-items: center;
            color: #fff;
            .at-icon-sound {
              margin-right: 10px;
            }
          }
          .contract_text__item__cover {
            display: block;
            width: 100%;
            height: 260px;
            border-radius: 12px;
            box-shadow: 0px 0px 20px #8f8f8f;
          }
          .contract_text__item__title {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 26px;
            margin-top: 10px;
            height: 72px;
          }
        }
      }
    }
  }

  .handle_list {
    overflow: hidden;
    margin-top: 40px;
    padding: 0 40px;
    .handle_list__item {
      width: 20%;
      float: left;
      text-align: center;
      .handle_list__item__icon-wrap {
        background-color: $primary-color;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0 auto;
      }
      .handle_list_item__icon {
        margin-left: 5px;
      }
      .handle_list__item__text {
        font-size: 24px;
      }
    }
  }
}
